.main {
    align-items: flex-start;
    background: linear-gradient(#e66465, #9198e5);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    height: 1080px;
    width: 1920px;

}


.navbar {
    width: 90%;
    margin: 0 auto;
}

header{
    background: pink;

}

header ::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    border-radius: 50px;
    width: 80px;
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a{
    font-family: 'Sriracha', cursive;
    color: white;
    font-size: 1.3vw;
    text-decoration: None;
    text-transform: uppercase;
}

nav a:hover {
    color: gray;

}

nav a::before{
    content:'';
    display: block;
    height: 5px;
    background-color: gray;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 500ms;
}

nav a:hover::before {
    width: 100%;
}

.posts{
    color:black;
    text-decoration: None;
    font-family: 'Kalam', cursive;
    
}

.container {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    max-width: 400px;
  }




.bg_image{
    width: 100%;
    height: auto;
}

.welcome {
    font-family: 'Caveat', cursive;
    position: relative;
    text-align: center;
    color: white;
}

#welcome {
    font-size: 7.5vw;
    position: absolute;
    top: -20px;
    left: 30px;
    text-align: left;
}



.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
 @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  
.card {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.5);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.8);
}