<title>Joy Studio</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="welcome">
<img src="{% static 'images/index_main.jpg' %}" alt="2 tulips on a black background" class="bg_image"/>
{% if user.is_authenticated %}
<h2 id="welcome">Welcome {{user.username.title|truncatewords:1}}<br>to Joy Studio!</h2>
{% else %}
<h2 id="welcome">Welcome!</h2>
{% endif %}
</div>


<body>
{% if user.is_authenticated %}
<h1>Anouncements</h1>
{% for post in posts reversed %}
<div class="column">
    <a class="posts" href="/post/{{post.id}}">
    <div class="card">
    <h2>{{post.title}}</h2>
    <h5>{{post.created}}</h5>
    <p>{{post.body|truncatewords:100}}</p></div>
</a>
</div>
{% endfor %}


{% else %}
<div>
    <h1>Please <a href="/login">Log In</a> or <a href="/register">Sign Up</a> to view the page content</h1>
</div>

<div>Who are we? 

</div>

{% endif %}

{% endblock %}