<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet">
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>


<h1>Login Now</h1>
{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}

<form action="login" method="POST">
    {% csrf_token %}
<p>Username: </p>
<input type="text" name="username" placeholder="Enter username" />
<p>Password:</p>
<input type="password" name="password" placeholder="Enter password" />
<input type="submit" name="form" value="Login"/>
</form>
<a href="/reset_password" >Forgot password?</a>
<a href="/register">Don't have an account?</a>

</html>