<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>My Profile</title>
<link rel="icon" type="image/x-icon" href= "{% static 'images/joy_studio.ico'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"> 
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>



{% if user.is_authenticated %}
<header>
<div class="navbar">
    <img src="{% static 'images/joy_studio_logo.jpg' %}" alt="logo" class="logo"> 
<nav>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="profile">My Profile</a></li>
    <li><a href="calc">Calculator</a></li>
    <li><a href="logout">Logout</a></li>
</ul>
</nav>
</div>
</header>
<body>
<div>
<h2>{{user}}</h2>
<p>{{user.account.gender.title}} | {{user.account.birthday}}</p>
</div>

<div>
<h2>Base Stats</h2>
<p>Body Weight:{{user.account.base_body_weight_kg}}kg</p>
<p>Body Fat: {{user.account.base_body_fat_kg}}kg / {{user.account.base_body_fat_p}}% </p>
<p>Visceral Fat: {{user.account.base_visceral_fat}}</p>
<p>Bone Mass: {{user.account.base_bone_mass_kg}}kg</p>
<p>Basal Metabolic Rate: {{user.account.base_bmr}}kcal</p>
<p>Metabolic Age: {{user.account.base_metabolic_age}} years</p>
<p>Muscle Mass: {{user.account.base_muscle_mass_kg}}kg / {{user.account.base_muscle_mass_p}}%</p>
<p>Physique Rating: {{user.account.base_physique_rating }}</p>
<p>Water: {{user.account.base_water}}%</p>
</div>

<div>
<h2>Current Stats</h2>
<p>Body Weight: {{user.account.current_body_weight_kg}}kg</p>
<p>Body Fat: {{user.account.current_body_fat_kg}}kg / {{user.account.current_body_fat_p}}%</p>
<p>Visceral Fat: {{user.account.current_visceral_fat}}</p>
<p>Bone Mass: {{user.account.current_bone_mass_kg}}kg</p>
<p>Basal Metabolic Rate: {{user.account.current_bmr}}kcal</p>
<p>Metabolic Age: {{user.account.current_metabolic_age}} years</p>
<p>Muscle Mass: {{user.account.current_muscle_mass_kg}}kg / {{user.account.current_muscle_mass_p}}%</p>
<p>Physique Rating: {{user.account.current_physique_rating }}</p>
<p>Water: {{user.account.current_water}}%</p>
</div>
</body>






{% else %}
<header>
<div class="navbar">
    <img src="{% static 'images/joy_studio_logo.jpg' %}" alt="logo" class="logo">
<nav>
<ul>
    <li><a href="login">Login or Sign Up</a></li>
</ul>
</nav>
</div>
</header>
{% endif %}

</html>