<title>My Profile</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<body>
<div>
<h2>{{user_data.1.upper}} {{user_data.2.upper}}</h2>{{user_data.7}}
<p>{{user_data.5}} | {{user_data.3}} ({{user_data.4}} years old) | {{user_data.6}}cm</p>
</div>
<button onclick="window.location.href='/profile/update'">Update Profile</button>
<div>
<h2>Base Stats</h2>as at {{baseline_data.0}}
<p>Body Weight:{{baseline_data.1}}kg</p>
<p>Body Fat: {{baseline_data.2}}kg / {{baseline_data.10}}% </p>
<p>Visceral Fat: {{baseline_data.3}}</p>
<p>Bone Mass: {{baseline_data.4}}kg</p>
<p>Basal Metabolic Rate: {{baseline_data.5}}kcal</p>
<p>Metabolic Age: {{baseline_data.6}} years</p>
<p>Muscle Mass: {{baseline_data.7}}kg / {{baseline_data.11}}%</p>
<p>Physique Rating: {{baseline_data.8}}</p>
<p>Water: {{baseline_data.9}}%</p>
</div>

<div>
<h2>Current Stats</h2>
<p>Body Weight: {{current_data.1}}kg</p>
<p>Body Fat: {{current_data.2}}kg / {{current_data.10}}%</p>
<p>Visceral Fat: {{current_data.3}}</p>
<p>Bone Mass: {{current_data.4}}kg</p>
<p>Basal Metabolic Rate: {{current_data.5}}kcal</p>
<p>Metabolic Age: {{current_data.6}} years</p>
<p>Muscle Mass: {{current_data.7}}kg / {{current_data.11}}%</p>
<p>Physique Rating: {{current_data.8}}</p>
<p>Water: {{current_data.9}}%</p>
</div>

<button onclick="window.location.href='/profile/add_stats'">Add stats</button>

</body>



{% else %}
<header>
<div class="navbar">
    <img src="{% static 'images/joy_studio_logo.jpg' %}" alt="logo" class="logo">
<nav>
<ul>
    <li><a href="login">Login or Sign Up</a></li>
</ul>
</nav>
</div>
</header>
{% endif %}

{% endblock %}