<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Register Now</title>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>

<h1>Sign up here!</h1>

{% for message in messages %}
<h5 color="red">{{message}}</h5>
{% endfor %}

<form method = "POST" action="register">
    {% csrf_token %}
<p>Username: </p>
<input type="text" name="username" />
<p>Email: </p>
<input type="email" name="email" />
<p>Password: </p>
<input type="password" name="password" />
<p>Retype Password: </p>
<input type="password" name="password2" /><br/>
<p>Key: </p>
<input type="text" name="secret_key" /><br/>
<input type="submit" name="form" value="Sign Up Now!" />
</form>
</html>